<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll.dao.extend.SurveyVMMapper">
  <select id="selectAll" resultMap="SurveyVMResultMap">
  select * from poll_survey
  </select>
  <resultMap type="com.briup.apps.poll.bean.extend.SurveyVM" id="SurveyVMResultMap">
  <id column="id" property="id"/>
  <result column="status" property="status"/>
  <association 
   column="questionnaire_id" 
   select="com.briup.apps.poll.dao.QuestionnaireMapper.selectByPrimaryKey"
     property="questionnaire"  >
  </association>
   <association 
   column="teacher_id" 
   select="com.briup.apps.poll.dao.UserMapper.selectByPrimaryKey"
     property="charge"  >
  </association>
  
  <association 
   column="course_id" 
   select="com.briup.apps.poll.dao.CourseMapper.selectByPrimaryKey"
     property="course"  >
  </association>
  
  <association 
   column="clazz_id" 
   select="com.briup.apps.poll.dao.ClazzMapper.selectByPrimaryKey"
     property="clazz"  >
  </association>
  
  </resultMap>
</mapper>